/* https://www.pierre-giraud.com/html-css/exercices-html-css/creation-menu-deroulant-html-css.php */
/* https://www.alticreation.com/bem-pour-le-css/ */

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;  
    margin: 0;
    padding: 0;
    display: flex;
}

h1{
    color: white; 
    font-size: 1.1em;
}

/*------------------------------------*/
/*                HEAD                */
/*------------------------------------*/

.Header-lien{
    background-color: #9edcf8;
}

/****** BANNIÈRE ******/

.Header-banniere{
    background-color: #fdd766f2;
    border-top:2px solid rgb(74, 70, 93);
    border-bottom: 2px solid rgb(74, 70, 93);
}

.Header-banniere ul{
    justify-content: flex-end; 
}

/****** MENU ******/

.menu {
  align-self: center;
}

nav ul li {
    float: left;
    position: relative; 
    margin: 0 1.5em;
}

nav ul li a:visited {
    color: black;
}

.Header-banniere li > a::after { 
    content: ' »'; 
}

.Header-book{
    color: black;
}

.Header-destination{
    color: black;
}

/****** SOUS-MENU ******/
.Header-submenu--child li>a::after { 
    content: ''; 
}

.Header-submenu{
    display: none;
    cursor: pointer;
}

nav li:hover .Header-submenu{
    display: list-item;
    position: absolute;
    top: 100%;
    z-index: 100;
    background-color: #cbc9ca;
    width: 180px ;
    padding: 0 1px;
}

nav li:hover .Header-submenu a{
    color: rgb(74, 70, 93);
}

nav li:hover .Header-submenu a:hover{
    color: #e34762;
    background: white;
}

/*------------------------------------*/
/*                MAIN                */
/*------------------------------------*/

/****** SLIDE ******/

#Main-carousel{
    background-color: #9edcf8;
    border-bottom: 2px solid rgb(74, 70, 93);
    padding-top: 2%;
    padding-bottom: 2%;
}

.carousel-inner img{
    width: 100%;
    height: auto;
}

.carousel-caption{
    background: rgb(0,0,0, 0.4);
    display: flex;
    bottom: 0px;
    width:100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 5px;
    color: #fff;
    text-align: center;
}

.carousel-caption p{
    margin-left: 40px;
}

.carousel-dot {
    cursor:pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

.active, .carousel-dot:hover {
    background-color: #717171;
  }

.carousel-dot:active{
    background-color: red;
  }
/****** INDICATORS ******/

.carousel-indicator{
    height: 5em;
    width: 2em;
    background-image: url("./assets/1.png");
}

ol .carousel-indicator{
    margin: auto ;
    display: inline-block;
}

/****** FLÈCHES ******/

.carousel-fleche--left{
    height: 45px;
    width: 45px;
    background-image: url(./assets/2.png);
    background-position: 0px -45px;
    position: absolute;
    top: 40%;
    left: 2%;
    z-index: 10;
}

.carousel-fleche--right{
    height: 45px;
    width: 45px;
    background: url(./assets/2.png) 45px 90px;
    position: absolute;
    top: 40%;
    right: 2%;
    z-index: 10;
}

/****** TEXTES ******/

.Main-intro{
    background-color: #fdd766f2;
    padding: 0.8em;
    display: flex;
    align-items: center;
}

.Main-intro h1{
    padding-left:2em;
}

#Main-infos{
    padding-top: 2em;
}

/****** DRAPEAUX ******/

#Main-drapeaux{
    padding-bottom: 2em;
}

#Main-drapeaux h2{
    border-bottom: 1px solid #dee2e6;
    padding: 0.5em 0;
    margin: 1em 0;
}

/****** PRÉSENTATION ******/

#Main-presentation{
    background-color: #9edcf8;
    border-top:2px solid rgb(74, 70, 93);
    border-bottom: 2px solid rgb(74, 70, 93);
    padding-top: 4%;
    padding-bottom: 4%
}

#Main-presentation h4{
     border-bottom: 1px solid #dee2e6;
}

.Main-presentation--Icone{
    text-align: justify;
    padding-top: 1em;
}

.Main-presentation--Icone img{
    float: left;
    padding-right: 2em;
}

/****** BOUTON VERT ******/

.Main-btn{
    border: 1px solid rgb(74, 70, 93);
    background-color: hsl(114, 100%, 25%) !important; 
    background-repeat: repeat-x; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15db00", endColorstr="#0c7f00"); 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#15db00), to(#0c7f00)); 
    background-image: -moz-linear-gradient(top, #15db00, #0c7f00); 
    background-image: -ms-linear-gradient(top, #15db00, #0c7f00); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #15db00), color-stop(100%, #0c7f00)); 
    background-image: -webkit-linear-gradient(top, #15db00, #0c7f00); 
    background-image: -o-linear-gradient(top, #15db00, #0c7f00); 
    background-image: linear-gradient(#15db00, #0c7f00); 
    color: #fff; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29); 
    -webkit-font-smoothing: antialiased;
}

.Main-btn:hover{
    border: 1px solid rgb(206, 204, 214);
    background-color: hsl(114, 100%, 25%) !important; 
    background-repeat: repeat-x; 
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#15db00", endColorstr="#0c7f00"); 
    background-image: -khtml-gradient(linear, left top, left bottom, from(#15db00), to(#0c7f00)); 
    background-image: -moz-linear-gradient(top, #15db00, #0c7f00); 
    background-image: -ms-linear-gradient(top, #15db00, #0c7f00); 
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #15db00), color-stop(100%, #0c7f00)); 
    background-image: -webkit-linear-gradient(top, #15db00, #0c7f00); 
    background-image: -o-linear-gradient(top, #15db00, #0c7f00); 
    background-image: linear-gradient(#15db00, #0c7f00); 
    color: #fff; 
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.29); 
    -webkit-font-smoothing: antialiased;
}
/*------------------------------------*/
/*               FOOTER               */
/*------------------------------------*/

#Footer{
    background-color:#fdd766f2;
}

#Footer ul{
    /*! display: flex; */
    padding: 1.2em 0;
    justify-content: space-between; 
}
#Footer li{
    justify-content: space-between;
}

.Footer-conclusion{
    color: gray;   
}




/*------------------------------------*/
/*              @MediaQueries         */
/*------------------------------------*/

/****** MAX 768px ******/

@media (max-width: 768px){
    .container{
        max-width: 700px;
        margin-left: auto;
        margin-right: auto;
}
    .menu {
        align-self: center;
        max-width: 100%;
        display: inherit;
        padding-bottom: 1em;

}
    
    .Header-lien{
        padding: 1em;
}
    
    #Main-carousel{
        padding:2em;
}

}

/****** MAX 576px ******/

@media (max-width: 576px){
    ul{
        display: inline-grid;
    }
    
     .logo{
        width: 100%;
    }
    
    #Main-carousel {
        padding: 0.5em;
    }
    
    .carousel-caption{
       visibility: hidden;
    }
    
    .carousel-fleche--left{
        top: 30%;
    }
    
    .carousel-fleche--right{
         top: 30%;
    }
}